setuptools>=46.4.0
scikit-learn>=1.0
numpy>=1.18.1
scipy>=1.4.0
joblib>=0.13.2
pandas>=1.0.0
typing-extensions
requests[matplotlib]
requests[seaborn]
requests[ipywidgets]
requests[ipympl]
requests[tqdm]
